.Board {
  --board-size: calc(100vh - 280px);
  height: var(--board-size);
  width: var(--board-size);
  display: flex;
  flex-direction: column;
}

.BoardRow {
  display: flex;
  flex-direction: row;
  flex: 33%;
}