.Square {
  flex: 33%;
  height: 100%;
  border: 2px solid #F9B8F9;
  box-sizing: border-box;
  font-size: 110px;
  font-weight: bold;
  display: grid;
  place-items: center;
  box-shadow:0px 0px 6px 5px #EC04F0;
}

.Square.Wining {
  flex: 33%;
  height: 100%;
  border: 2px solid #F9B8F9;
  box-sizing: border-box;
  font-size: 110px;
  font-weight: bold;
  display: grid;
  place-items: center;
  box-shadow:0px 0px 10px 15px #EC04F0;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
