body {
  padding: 0;
  margin: 0;
  background-color: #444444;
  color: #F9B8F9;
  font-family: TicTacToeFont;
}

@font-face {
  src: url('./Assets/Fonts/animeace.ttf');
  font-family: TicTacToeFont;
}